.App {
  text-align: center;
}


a{
  text-decoration: none
}


/* NAVBAR Styles*/

.nav{
background-color: white;
}
 
.navbar {
  background-color: white;
}

.navbar-default .navbar-nav  > li > a { 
  color: #444E63;
  font-family: 'Raleway', sans-serif;

  padding:10px 12px 10px 12px;

} 

.navbar-default .navbar-nav  > li > a:hover{
  color: #1CA18B;;

}

.navbar .navbar-header .navbar-brand {
  font-size: small;

}
.navbar.navbar-default {
  background-color: white;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.register {
  background-color:#ecd5e3;
  border-bottom: 3px solid #ecd5e3
}


/* NAVBAR END */



/* LANDING PAGE */

.landing-top{
margin-top: 15px;
}


.landing-bottom-header{
width:70%
}


.landing-bottom{
line-height: 1.9;
font-family: 'Raleway', sans-serif;
font-size: 14pt;
color:#444E63;
margin: 50px 110px 40px 110px;
}

.landing-video{
width:70%;

}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* LANDING END */



/* FAQ PAGE QandA*/

.faq-top{
width:100%;

}

.faq-bottom{

color:#1BA28A;
font-size: 14pt;
font-weight: bold;
 font-family: 'Raleway', sans-serif;
margin: 50px 110px 50px 110px;
text-align: left
}


.faq-bottom span{
font-weight: 100;
font-size: 12pt;
color:#444E63;
text-align: center;
font-family: 'Raleway', sans-serif;

}
/* FAQ END */




/* VENUE PAGE theLOCALE */
.venue-one{
width:100%;

}

.venue-two{
height:40px;
width:300px;
background-color: #1CA18B;
color:white;
font-size: 17pt;
border-radius: 5px;
font-family: 'Raleway', sans-serif;
margin:20px;
border: 3px solid white;
}


.transportation{
  width: 40%;
}
.venue-two a{
  text-decoration: none;
  color:white;
}

.venue-two a:hover{
background-color: #ffffff;
color:#1CA18B;
}
.venue-two:hover{
  background-color:white;
  border: 3px solid #1CA18B;
}

.venue-three{
margin:50px 15% 10px 15%;
display:grid;
grid-template-columns: 1fr 1fr;
grid-gap: 25px;
justify-items: center;
align-content: space-between;
font-family: 'Raleway', sans-serif;
font-size:13pt;
}

.venue-three span{
font-weight: bold;
}

.venue-four{
width:80%;
}

.venue-four hr{
background-color: #1CA18B;
height: 3px;
border:none;
}

.venue-five{
width:320px;
margin-bottom:30px;
}

.venue-five span1{
font-family: 'Mr Dafoe', cursive;
font-size: 35pt;
}

.venue-five span2{
font-weight: bold
}
/* VENUE END */



/* SCHEDULE PAGE theLINEUP */

.schedule-top{
width:100%;
color:#444E63;
margin:20px;
}


.schedule-bottom{
line-height: 1.9;
font-family: 'Raleway', sans-serif;
font-size: 14pt;
color:#444E63;
margin: 100px 110px 50px 110px;
}


.schedule-bottom-header{
font-family: 'Mr Dafoe', cursive;
font-size: 40pt;
color: #444E63;
margin-bottom: 25px
}

.daynav{
  width:100%;
  max-width:1200px;
}
.jno{
  width:60%;
}


.home2{
  width:100%;
  max-width:1200px;
  height:auto
}

.agenda
{
  background-color: #2B3A4B;
  color:white;
  text-align:center;
  font-family: 'Kaushan Script', cursive;
  padding:25px;
  font-size: 18pt;
  width:100%;
  max-width:1200px;
  border-top: 3px solid #1CA18B;
  border-bottom: 3px solid #1CA18B;
}
.lineupimage{
  width:100%;
  max-width:1200px;
}


/* SCHEDULE END */


/* BOOTSTRAP CUSTOM SYTLES */


.carousel {
  background-color:#ffffff;
}
.carousel image{
  width:100%;
}
.carousel-indicators li {
  visibility: hidden; 
}

.carousel .glyphicon-chevron-right{
  display:none;
}

.carousel .glyphicon-chevron-left{
  display:none;
}

.carousel-control.left, .carousel-control.right {
display:none;
}
.btn-custom{
  background-color:#ecd5e3;
  color:#444E63;
  padding:10px;
  font-weight: bold;
  font-family: 'Raleway Italic', sans-serif;
  text-decoration: none;
  border: 3px solid #ecd5e3;
}

.btn-custom:hover{
  background-color:#ffffff;
  color:#ecd5e3;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 5px 2px 20px #dcdcdc;
}

.btn-custom2{
  background-color:#ecd5e3;
  color:#444E63;
  padding:10px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  border: 1px solid white
}

.btn-custom2:hover{
  opacity:0.8;
  background-color:#ecd5e3;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid white

}


#DayOne .link1, #DayTwo .link2, #JNOJane .link3, #Round .link4 {  
  color: white;
  border-top: 2.5px solid #1CA18B;
  background-color:#2B3A4B;
  font-weight: bold;
}


#Nav1 .active1 a,  #Nav2 .active2 a, #Nav3 .active3 a, #Nav4 .active4 a, #Nav5 .active5 a {
  border-bottom: 2.5px solid #1CA18B;
  color:white;
  background-color:#2B3A4B;
  font-weight: bold;

}



/* BOOTSTRAP STYLES END */


/* CUSTOM STYLES TESTING*/


.component {
  color: white;
  height: 200px;
  width: 100%;
  background-color: grey;
  font-size: 20pt;
  padding-top: 75px;

}

.test{
  font-family: 'Raleway', sans-serif;
  color: lawngreen;
  font-size: 24pt;
  height: 100px;
  background-color: lightgray;
  text-shadow: 2px 2px #444E63 ;
  padding:40px;
  width:100%
  
}



/* MEDIA QUERIES */

@media screen and (max-width: 800px) {


  .landing-video{
    width:100%;
    }


    .landing-bottom-header{
      width:95%
      }


      .landing-bottom{
        line-height: 1.8;
        font-family: 'Raleway', sans-serif;
        font-size: 10pt;
        margin: 40px 15px 30px 15px;
        }


        .venue-three{
          margin:30px 5px 10px 5px;
          display:grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 25px;
          justify-items: center;
          align-content: space-between;
          font-size: 9pt;
          }

          .venue-five{
            font-size:9pt;
            width:280px;
            margin-bottom:30px;
          }

          .faq-bottom{
            font-size: 10pt;
            margin: 50px 10px 50px 10px;
            text-align: left
            }
            
            .faq-bottom span{
            font-weight: 100;
            font-size: 9pt;
            color:#444E63;
            text-align: center;
            }

            .jnoschedule{
              width:320px;
      
            }

            .navlineup{
              margin-left:50px
            }

            .agenda
            {
              text-align:left;
              font-size: 11pt;
              width:80%;
              background-color: #2B3A4B;
              color:white;
              font-family: 'Kaushan Script', cursive;
            }
            
            .jno{
              width:100%;
            }
            .transportation{
              width: 90%;
            }


            .btn-custom2{
                font-size:9pt;
           }
}

